.produto_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .produto-interna {
        width: 95vw;
        height: 40vw;
        background: #fff;
        margin: 2vw;
        display: flex;
        .imagem-produto {
            width: 50%;
        }
        .descricao-produto {
            width: 50%;
        }
    }
}