body {
    background-color: #000;
    position: relative;
    margin: 0;
    .root {
        .aplicacao {
            position: relative;
            width: 100%;
        }
    }
    button {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}